:host {
  width: 100%;
  background-color: #008148;
  border-radius: 5px;
  padding: 0rem 1rem;
  box-sizing: border-box;
}
ul {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 3rem;
  color: white;
}
li {
  list-style: none;
  font-style: italic;
  font-size: 1.5rem;
}
li:hover {
  cursor: pointer;
  text-decoration: underline;
}
h1 {
  width: 100%;
  font-size: 4rem;
  font-weight: 200;
  color: wheat;
}
@media (min-width: 768px) {
  ul {
    justify-content: start;
  }
}
