<div class="carrousel-wrapper">
  <div class="player">
    <div class="arrow-container cp" (click)="prev()">
      <img src="left-arrow.png" class="arrow" />
    </div>
    <img [src]="imgSrc" class="display cp" (click)="auto ? stopAuto() : startAuto()" />
    <div class="arrow-container cp" (click)="next()">
      <img src="right-arrow.png" class="arrow" />
    </div>
  </div>
  <div class="dots">
    @for (dot of imgSrcs; track $index) {
      <div
        class="dot cp"
        [class.active]="active == $index"
        (click)="tp($index)"
      >
        {{ $index }}
      </div>
    }
  </div>
</div>
