<div>
  <div class="player">
    <img src="left-arrow.png" (click)="prev()" class="arrow cp" /><!-- LA -->
    <!-- <img [(ngModel)]="imgSrc" />img -->
    <img [src]="imgSrc" class="display cp" (click)="auto ? stopAuto() : startAuto()" /><!-- img -->
    <img src="right-arrow.png" (click)="next()" class="arrow cp" /><!-- RA -->
  </div>
  <div class="dots">
    @for (dot of imgSrcs; track $index) {
      <div
        class="dot cp"
        [class]="active == $index ? 'dot cp filled' : 'dot cp'"
        (click)="tp($index)"
      >
        {{ $index }}
      </div>
    }
  </div>
</div>
