<form>
  <label for="title">Title: </label><input type="text" name="title" [(ngModel)]="title" />
  <label for="desc">Description: </label><input type="text" name="desc" [(ngModel)]="desc" />
  <label for="priority">priority:</label>
  <div class="rbtns">
    <label for="">Low</label
    ><input type="radio" name="priority" value="low" [(ngModel)]="priority" />
    <label for="">Medium</label
    ><input type="radio" name="priority" value="medium" [(ngModel)]="priority" />
    <label for="">High</label
    ><input type="radio" name="priority" value="high" [(ngModel)]="priority" />
  </div>
  <label for="">Due Date:</label>
  <input type="date" [(ngModel)]="dueDate" />
  <label for="">Catrgory:</label>
  <select name="Car" id="Cat" [(ngModel)]="category">
    <option value="work">work</option>
    <option value="personal">personal</option>
    <option value="study">study</option>
  </select>
  <label for="">Tags:</label>
  <textarea name="tags" id="tags" [(ngModel)]="tags"></textarea>
  <button (click)="handleSubmit($event)">Add Task</button>
</form>
